@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root {
    --red: #df1212;
    --light-red: rgb(231, 55, 55);
    --dark-color: #8a0606;
    --black :#444;
    --light-color: #666;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid var(--black);
    --white:#fff;
}

html {
    font-size: 62.5%;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: 1.2rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--red);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

/* Header */
.header .header-1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
}

.header .header-1 .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .header-1 .logo i {
    color: var(--red);
}

.header .header-1 .search-form {
    width: 50rem;
    height: 4rem;
    border: var(--border);
    overflow: hidden;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: .5rem;
}

.header .header-1 .search-form input {
    font-size: 1.6rem;
    padding:0 1.2rem;
    height: 100%;
    width: 100%;
    text-transform: none;
    color: var(--black);
}

.header .header-1 .search-form label {
    font-size: 2px;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .search-form label:hover {
    color: var(--red);
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.icons p {
    font-size: 15px;
}

.header .header-1 .icons div,
.header .header-1 .icons a {
    font-size: 2.5rem;
    margin-left: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
    color: var(--red);
}

#search-btn {
    display: none;
}

.header .header-2 {
    background: var(--red);
}

.header .header-2 .navbar {
    text-align: center;
}

.header .header-2 .navbar a {
    color:#fff;
    display: inline-block;
    padding: 1.2rem;
    font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
    background: var(--dark-color);
}

.header .header-2.active {
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
    z-index: 1000;
}

#user-options {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#user-options #sub-menu {
    background-color: var(--white);
    display: none;
    position: absolute;
}

#user-options:hover #sub-menu {
    transition: .2s ease-in-out;
    display: block;
}

#user-options #sub-menu {
    width: 150px;
    list-style-type: none;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#sub-menu ul {
    position: absolute;
    display: none;
}

#user-options #sub-menu li a {
    display: block;
    font-size: 15px;
}

.bottom-navbar {
    text-align: center;
    background: var(--red);
    position: fixed;
    bottom:0; left:0; right: 0;
    z-index: 100;
    display: none;
}

.bottom-navbar a {
    font-size: 2.5rem;
    padding: 2rem;
    color: #fff;
}

.bottom-navbar a:hover {
    background: var(--dark-color);
}

/* Main */
main h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;

    color: var(--red);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(133, 45, 45, 0.5), rgba(0,0,0,0.5)), url('../img/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: 300px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}

.banner button {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    width: 100px;
    border-radius: 5px;
}

.banner button:hover {
    transition: .2s ease-in-out;
    background-color: var(--dark-color);
    cursor: pointer;
}

.banner p {
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 10px;
}

.products {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.products .box-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
    padding-bottom: 20px;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-container img {
    width: 20rem;
    height: 30rem;
}

.box-container button {
    background: var(--red);
    color: white;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    border-radius: 5px;
}

.box-container button:hover {
    transition: .2s ease-in-out;
    background: var(--dark-color);
    cursor: pointer;
}

.box-container #price {
    font-weight: bold;
    margin-top: 30px;
}

/* Footer */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: #fff;
}

.footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: var(--dark-color);
}

.footer-bottom {
    background: #000;
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
}

.footer-bottom p a {
   color: var(--red);
   font-size: 16px;
   text-decoration: none;
}

.footer-bottom p a:hover {
    transition: .2s ease-in-out;
    color: var(--dark-color);
}

@media (max-width:500px) {
    .footer-menu ul{
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
}

/* Sobre */
.about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(133, 45, 45, 0.26), rgba(0, 0, 0, 0.5)), url('../img/about-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: 300px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}

.who-are-we {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 40px;
}

.text span {
    background-color: var(--red);
    width: 75px;
    height: 3px;
}

.text h2 {
    font-size: 40px;
}

.text p {
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
}


.who-are-we img {
    width: 450px;
    height: 400px;
}

.who-are-we:nth-child(2) {
    align-self: flex-end;
}

/* Contato  */
.contact-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(rgba(133, 45, 45, 0.26), rgba(0, 0, 0, 0.5)), url('../img/contact.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    height: 300px;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    margin: 50px;
    line-height: 50px;
}

.contacts ul {
    font-size: 17px;
    list-style: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0
}


td, th {
    border: 1px solid rgb(17, 17, 17);
    text-align: center;
    padding: 8px;
}

th {
    background-color: var(--red);
    color: var(--white);
}



.fa-trash:hover {
    transition: .2s ease-in-out;
    color: var(--red);
}

.fa {
    background: #FFF;
}

.fa-trash, .fa-pen {
    font-size: 20px;
    color: #000;
}

.fa-trash:hover, .fa-pen:hover {
    transition: .4s ease-in-out;
    color: #df1212;
}

#add-button {
    margin-top : 20px;
    padding: 15px;
    border-radius: 5px;
    background: var(--red);
    color: #FFF;
}
#add-button:hover {
    transition: .2s ease-in-out;
    background: var(--dark-color);
}

.order-table {
    font-size: 15px;
    width: 80%;
    height: 60vh;
    margin: auto auto;
}

.order-table caption {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}

.checkout-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    width: 80%;
    height: 70%;
    padding: 20px;
    font-size: 12px;
    margin: 0 0 0 30px;
}

.checkout-content h3 {
    font-size: 20px;
}

.checkout-content .address-content {
    font-size: 15px;
    margin: 20px 0;
    display: flex;

    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    padding: 20px;
}

.address {
    padding-left: 15px;
}

.address-content #add-address {
    margin-left: 500px;
    text-decoration: none;
    color: var(--red);
}

.address-content #add-address:hover {
    transition: .2s ease-in-out;
    color: var(--dark-color);
}

.form-checkout #submit-button {
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border-radius: 5px;
}

.form-checkout #submit-button:hover {
    transition: .2s ease-in-out;
    background-color: var(--dark-color);
}

/* Menu de opções do usuário */
.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 15vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin: 30px auto;
    padding: 20px;
}

.profile-circle {
    padding: 10px;
    border: 2px solid var(--red);
    border-radius: 20%;
}

.fa-user, .fa-location-arrow, .fa-eraser {
    font-size: 20px;
    color: var(--red);
}

.profile-info h2 {
    margin-left: 20px;
    font-size: 25px;
}

.profile-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    margin: 30px auto;
    padding: 20px;
}

.my-data, .addresses, .delete-account {
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(202, 200, 200);
}

.my-data a, .addresses a, .delete-account a {
    margin-left: 20px;
    font-size: 15px;
    font-weight: 500;

    color: var(--black)
}

.item-info {
    display: block;
    font-size: 10px;
}

.my-data a:hover, .addresses a:hover, .delete-account a:hover {
    color: var(--red);
}

/* Tela Meus dados */
.data-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 60%;
    height: 80vh;
    margin: 20px auto 30vh auto;
    padding: 20px;
    font-size: 12px;
    line-height: 40px;
}

.user-data, .address-data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    font-size: 15px;
    font-weight: 400;
}

.data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgb(202, 200, 200);
}

#edit-data {
    margin: 20px 0;
    color: var(--white);
    background: var(--red);
    padding: 5px 20px;
    border-radius: 5px;
}

#edit-data:hover {
    transition: .2s ease-in-out;
    background: var(--dark-color);
}

/* Formulário de edição dos dados */
.user-form {
    width: 50%;
    margin: auto auto;
    padding: 70px 30px 44px;
    border-radius: 24px;
    background: #FFF;
    text-align: center;
}

.user-form > h2 {
    margin: 0 0 12px;
    font-size: 36px;
    font-weight: 600;
}

.user-form label {
    margin: 10px 20px 0 30px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.719);
}

.edit-data {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
    padding: 10px;
}

a { 
    font-size: 16px; 
}

.edit-data a {
    color: var(--red);
}

.edit-data > input {
    width: 100%;
    height: 56px;
    border: 2px solid #2e2e2e;
    border-radius: 20px;
    padding: 10px 20px;
}

.edit-data > input[type='submit'] {
    width: 100%;
    height: 56px;
    border: 0;
    background: var(--red);
    color: #F9F9F9;
    font-weight: 600;
    font-size: 16px;
}

.edit-data > input[type='submit']:hover {
    cursor: pointer;
    transition: .2s ease-in-out;
    background-color: var(--dark-color);
}

.actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#delete-data {
    margin: 20px 0;
    color: var(--white);
    background: var(--red);
    padding: 15px 20px;
    border-radius: 5px;
}

#delete-data:hover {
    transition: .2s ease-in-out;
    background: var(--dark-color);
}